<?php
/*
 * Configuration
 */

// Url to redirect to if / requested with no params
// can be a URL, a relative path like '/site' or a '404.php'
define('REDIRECT', '/404.php');

// Change this to a word or phrase of your choosing to salt the hashes.
define('HASH_SALT', 'example salt');

// Change this to your timezone. The available options are listed at http://www.php.net/manual/en/timezones.php
define('TIMEZONE', 'America/New_York');
